body{
  background-color: hsl(0, 0%, 11%);
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h2 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: transparent;
}

.delete-button:hover {
  background-color: hsl(9, 81%, 50%);
}

.move-button {
  background-color: transparent;
}

.move-button:hover {
  background-color: hsl(207, 90%, 50%);
}

input[type="text"] {
  font-size: 0.9rem;
  padding: 10px;
  border: 3px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 6px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}